@page "/movimentacoes"
@using TFLUZ.Components.Shared
@using TFLUZ.Core.Models

@rendermode InteractiveServer

<PageTitle>Movimentações</PageTitle>

<h1>@Title</h1>

@* RowClass="DefinirCorLinha" *@

<Grid @ref="grid"
      TItem="Movimentacao"
      Class="table table-striped table-bordered"
      AllowFiltering="false"
      Responsive="true"
      AllowPaging="true"
      AutoHidePaging="true"
      
      DataProvider="MovimentacoesDataProvider">
    <!-- DATA -->
    <GridColumn TItem="Movimentacao" HeaderText="Data">
        @context.Data.ToString("dd/MM/yyyy")
    </GridColumn>

    <!-- VALOR FORMATADO -->
    <GridColumn TItem="Movimentacao" HeaderText="Valor (R$)">
        @context.Valor.ToString("C2")
    </GridColumn>

    <!-- STATUS (PENDENTE / FINALIZADA) -->
    <GridColumn TItem="Movimentacao" HeaderText="Status">
        @context.Status.Nome
    </GridColumn>

    <!-- CLASSIFICAÇÃO (RECEITA / DESPESA) -->
    <GridColumn TItem="Movimentacao" HeaderText="Tipo">
        @(context.Classificacao.Nome)
    </GridColumn>
    <!-- AÇÕES -->
    <GridColumn TItem="Movimentacao" HeaderText="Ações">
        <!-- Botão visualizar -->
        <Button Size="ButtonSize.Small"
                Color="ButtonColor.Info"
                @onclick="() => Visualizar(context.Id)">
            <i class="bi bi-eye"></i>
        </Button>

        <!-- Botão inativar -->
        <Button Size="ButtonSize.Small"
                Color="ButtonColor.Danger"
                @onclick="() => Inativar(context.Id)">
            <i class="bi bi-x-circle"></i>
        </Button>
    </GridColumn>
</Grid>

<Button Color="ButtonColor.Primary" @onclick="() => OpenModal()">Nova Movimentação</Button>

<Modal @ref="modal"
       Title="@modalTitle"
       UseStaticBackdrop="true"
       CloseOnEscape="false"
       IsVerticallyCentered="true"
       IsScrollable="true">

    <BodyTemplate>
        <MovimentacaoModal @ref="modalComponent"
                           Descricoes="@Descricoes"
                           SomenteLeitura="@somenteLeitura"
                           OnSave="ReceberMovimentacao" />
    </BodyTemplate>

    <FooterTemplate>
        @if (!somenteLeitura)
        {
            <Button Color="ButtonColor.Secondary" @onclick="CloseModal">Cancelar</Button>
            <Button Color="ButtonColor.Primary" @onclick="() => modalComponent.Salvar()">Salvar</Button>
        }
        else
        {
            <Button Color="ButtonColor.Secondary" @onclick="CloseModal">Fechar</Button>
        }
    </FooterTemplate>
</Modal>


@code {

}